<div class="row">
  <div class="twelve columns content">
    <%= form_for [@employer, @profile], html: { class: 'new_profile nice'} do |f| %>
      <%= f.text_area :description, :size => "50x6" %>
      <%= f.submit "Publish", :class => "medium button radius" %>
    <% end %>
  </div>
</div>