<div class="row">
  <div class="twelve columns navigation">
    <ul class="user-nav">
      <li class="active"><%= link_to "Account" %><div class="bullet"></div></li>
      <li>
        <% if current_user.profile %>
          <%= link_to "Profile", edit_employer_profile_path(current_user) %>
        <% else %>
          <%= link_to "New Profile", new_employer_profile_path(current_user) %>
        <% end %>
        <div class="bullet"></div>
      </li>
      <li><%= link_to "Jobs List", employer_jobs_path(current_user) %><div class="bullet"></div></li>
    </ul>
  </div>
</div>