<div class="row">
  <div class="twelve columns">
    <dl class="nice contained tabs">
      <%= nav_link("Account", edit_user_registration_path) %>
      <% if current_user.profile %>
      <%= nav_link("Profile", edit_employer_profile_path(current_user)) %>
      <% else %>
      <%= nav_link("New Profile", new_employer_profile_path(current_user)) %>
      <% end %>
      <%= nav_link("Jobs List", employer_jobs_path(current_user)) %>
    </dl>
  </div>
</div>