// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input#query {
  font-size: 14px;
  padding: 5px 10px;
  width: 300px;
}
div.jobs-listing h4 {
  padding-left: 10px
}
div.jobs-listing ul {
  margin-top: 12px;
  border-top: 1px solid #ccc;
}
div.jobs-listing ul li {
  margin: 0;
}
div.jobs-listing ul li a {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  color: #888;
}
div.jobs-listing ul li a:hover {
  color: black;
  background-color: #F2F8FC;
}
div.jobs-listing ul li span.label {
  margin-right: 5px
}
div.jobs-listing ul li span.job {
  color: black;
}
div.jobs-listing ul li span.location {
  margin-right: 10px
}
div.jobs-listing ul li span.date {
  float: right;
}
div.jobs-listing ul li span.salary {
  float: right;
  margin-right: 20px;
}
