/*
--------------------------------------------------
  TEMP
--------------------------------------------------

div.header-container {
  background-color: #ddd;
}
div.header-account {
  background-color: #666;
}

--------------------------------------------------
  COMMON
--------------------------------------------------
*/
body {
  font-family : "Lucida Sans";
  background-color: #E6F0FF;
}
.button {
  font-family : "Lucida Sans";
}
/*
--------------------------------------------------
	HEADER
--------------------------------------------------
*/
div.header {
  padding: 15px 0;
}
div.header-container {
  left: 2%;
}
div.header div.header-container h2 a {
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-shadow: 0 2px 0 white;
  letter-spacing: -1px;
}
/*
--------------------------------------------------
	CONTENT
--------------------------------------------------
*/
div.content {
  background-color: #fff;
  box-shadow: 3px 3px 3px #ccc;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  border: 1px solid #E8E8E8;
}
/*
--------------------------------------------------
	HEADER ACCOUNT
--------------------------------------------------
*/
div.header-account {
  float: right;
  padding: 5px 0;
}
div.header-menu {
  float: right;
  border: 1px solid #CFCFCF;
  background: #F4F4F4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');
  background: -webkit-gradient(linear,left top,left bottom,from(#F4F4F4),to(#ECECEC));
  background: -moz-linear-gradient(top,#F4F4F4,#ECECEC);
  border-image: initial;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.header-menu span a {
  display: inline-block;
  padding: 6px 8px;
  color: #000;
  font-weight: bold;
}
div.header-menu span a:hover {
  color: #fff;
  background-color: #CCE0FF;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4D94DB',endColorstr='#0066CC');
  background: -webkit-gradient(linear,left top,left bottom,from(#4D94DB),to(#0066CC));
  background: -moz-linear-gradient(top,#4D94DB,#0066CC);
  border-image: initial;
}
div.header-menu span a:active {
  color: #fff;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#666',endColorstr='#333');
  background: -webkit-gradient(linear,left top,left bottom,from(#666),to(#333));
  background: -moz-linear-gradient(top,#666,#333);
  border-image: initial;
}
div.header-menu span a.user {
  border-right: 1px solid #ccc;
}
div.header-menu span a.user img {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}