/*
--------------------------------------------------
  COMMON
--------------------------------------------------
*/

textarea {
  width: auto;
}
h4.edit-header {
  background-color: #F3F3F4;
  padding: 15px 20px;
  margin: 10px 0 20px 0;
}
.user-nav-bar {
  margin-bottom: 20px;
}
.company-detail {
  padding: 10px 20px;
  background-color: #F0F6FC;
  color: black;
}
.company-detail li {
  margin-bottom: 8px;
}
/*
--------------------------------------------------
  HEADER
--------------------------------------------------
*/
header { 
  background-color: #333;
  padding: 12px 0px 10px;
  margin-bottom: 30px;
}
header a, header a:hover {
  color: white;
}
header h1 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.6rem;
}
/*
--------------------------------------------------
  NAV < HEADER
--------------------------------------------------
*/
nav {
  padding-top: 0px;
}
nav ul li {
  float: left;
  margin-left: 15px;
  margin-bottom: 0;
}
nav ul li img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
/*
--------------------------------------------------
  FOOTER
--------------------------------------------------
*/
footer.row {
  margin-top: 30px;
  padding-top: 0;
  background-color: #eee;
}
footer.row p {
  margin: 0;
  padding: 10px 20px;
  color: #555;
}
/*
--------------------------------------------------
  HACK ZURB
--------------------------------------------------
*/
div.alert-box {
}