form.edit_profile {
  margin-bottom: 0;
  padding: 5px 0 0 10px;
}
form.edit_profile table {
  border: none;
  margin-left: 15px;
}
form.edit_profile table input {
  margin-bottom: 5px
}
form.edit_profile div.description {
  padding: 0 15px 0 25px;
}
form.edit_profile div.description span {
  padding-bottom: 5px;
}