div.content {
	padding: 20px 0;	
}

/*
--------------------------------------------------
	CONTENT HEADER
--------------------------------------------------
*/
div.content-header {
	padding: 0 0 20px 20px;
}
div.content-header h1 {
	font-size: 40px;
	color: #222;
	padding: 0;
	margin: 0 0 7px 0;
	font-weight: normal;
	line-height: 1em;
}
/*
--------------------------------------------------
	CONTENT CONTAINER
--------------------------------------------------
*/
div.content-container {
	border-top: 1px solid #CCC;
	padding: 10px 0;
}
div.content-container h2 {
	font-size: 24px;
	color: #222;
	padding: 0;
	margin: 0 0 7px 0;
	font-weight: normal;
	line-height: 1.2em;
}
div.register-information, div.register-picture {
	margin-left: 0px;
}
div.register-account, div.register-information {
	padding-left: 22px;
}
div.register-picture {
	padding: 0 22px;
}
/*
--------------------------------------------------
	REGISTER ACTION
--------------------------------------------------
*/
div.register-action {
	margin-top: 25px;
}
div.register-action div.message {
	text-align: right;
}
div.register-action div.signup {
	margin-left: 20px;
}
