/*div.login-container {
	background-color: #f0f0f0;
}
div.register-container {
	background-color: #eee;
}
div.separator {
	background-color: #eee;
}*/
/*
--------------------------------------------------
	LOGIN CONTAINER
--------------------------------------------------
*/
div.login-container {
	float: left;
	width: 35%;
	padding: 40px 20px 20px 10%;
}
div.login-container h1 {
	font-size: 40px;
	color: #222;
	padding: 0;
	margin: 0 0 7px 0;
	font-weight: normal;
	line-height: 1em;
}
/*
--------------------------------------------------
	REGISTER CONTAINER
--------------------------------------------------
*/
div.register-container {
	float: right;
	width: 33%;
	padding: 40px 10% 20px 20px;
}
div.register-container h3 {
	font-size: 24px;
	color: #222;
	padding: 0;
	margin: 0 0 7px 0;
	font-weight: normal;
	line-height: 1.2em;
}
div.register-container ul {
	list-style: disc inside;
	margin: 20px 0;
}

/*
--------------------------------------------------
	SEPARATOR
--------------------------------------------------
*/
h3.separator {
	font-size: 12px;
	text-align: center;
	margin: 30px 0;
	padding: 140px 0;
	width: 2px;
	background: #000;
	color: #fff;
	float: left;
}
h3.separator span {
	margin-left: -13px;
	background: #000;
	padding: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}